@import '_normilize';
// $maintheme: #341f5e;

body {
	font-family: 'Roboto Mono', monospace;
	color: rgba(0, 0, 0, 1);
}

.btn {
	color: white;
	padding: 15px 20px;
	border-radius: 10px;
	text-decoration: none;
	border: none;
	font-weight: 700;
	transition: all 200ms ease;

	&:hover {
		transform: scale(1.05);
	}
}

.btn-black {
	color: white;
	background-color: black;
	padding: 15px 25px;
	margin-top: 30px;
	border-radius: 10px;
	border: none;
	font-size: 20px;
	font-weight: 700;
	transition: all 200ms ease;

	&:hover {
		transform: scale(1.05);
	}

	&:active {
		background-color: white;
		color: black;
		transform: translateY(4px);
	}
}

.btn-post {
	background-color: #751692;
}

.btn-cancel {
	background-color: black;
}

.btn-blue {
	background-color: #3498db;
}


.home {
	// background-color: #c7b9ff;
	padding-top: 100px;

	.welcome {
		display: grid;
		justify-content: center;
		align-items: center;
		grid-template-columns: 1fr 1fr;
		gap: 130px;
		max-width: 1300px;
		margin: 0 auto;

		img {
			display: block;
			max-width: 100%;
		}

		h1 {
			font-size: 64px;
			line-height: 1;
			letter-spacing: -0.02em;
			margin-bottom: 32px;

			div {
				font-size: 22px;
				margin-bottom: 40px;
			}
		}

		p {
			margin-bottom: 20px;
		}
	}
}

// .project-name {
// 	display: flex;
// 	justify-content: center;
// 	padding: 30px;
// 	font-size: 2em;
// 	font-weight: 700;
// }

header {

	div.upload-files {
		display: grid;
		grid-template-columns: 200px 1fr;
		grid-template-rows: auto;
		margin: 40px 50px;

		.file-list {
			margin-top: 20px;
			margin-left: 110px;
			grid-column: 2/3;
			grid-row: 1/3;

			li {
				list-style: none;
				padding-bottom: 15px;
			}
		}

		.btn-merge {
			align-self: end;
			background-color: rgb(115, 197, 115);
			height: 60px;
			color: black;

			&:hover {
				background-color: #40953b;
			}

			&:active {
				background-color: rgb(115, 197, 115);
				color: white;
			}
		}

		label {
			display: flex;
			justify-content: center;
			align-items: center;
			column-gap: 10px;
			min-height: 60px;
			background-color: rgb(226, 226, 226);
			color: black;
			padding: 15px 20px;
			border-radius: 10px;
			text-decoration: none;
			// border: 2px solid black;
			font-weight: 700;
			cursor: pointer;
			transition: all 200ms ease;

			&:hover {
				transform: scale(1.05);
			}
		}

		input#upload-file {
			visibility: hidden;
		}
	}

}

.flex-nav {
	font-size: 1.2em;
	font-weight: 700;
	padding: 30px 50px;
	// border-bottom: 3px solid black;
	margin-bottom: 50px;
	// max-width: 1200px;
	// margin: auto;

	ul {
		list-style: none;
		display: flex;

		align-items: center;

		li {
			min-height: 45px;
			text-align: center;
			flex: 0 1 150px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
		}

		li.nav-logo {
			margin-right: auto;
			// margin-left: 0px;

			img {
				width: 40px;
				transition: all 200ms ease;

				&:hover {
					cursor: pointer;
					transform: scale(1.1);
				}
			}
		}

		.ratings {
			text-decoration: none;
			cursor: pointer;
			color: inherit;
			position: relative;
		}

		.menu-options {
			position: absolute;
			top: 40px;
			z-index: 999;
			border: 3px solid black;
			background-color: white;
			padding: 20px 40px;
			display: grid;
			row-gap: 20px;
			white-space: nowrap;
		}
	}
}

.element-underline {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 100%;
		height: 3px;
		background-color: #6495ed;
		opacity: 0;
		transition: opacity 300ms, transform 300ms;
	}

	&:hover::after {
		opacity: 1;
		transform: translate3d(0, 0.2em, 0);
	}
}

.element-underline-width {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		bottom: -5px;
		left: 0;
		width: 0%;
		height: 3px;
		background-color: #6495ed;
		opacity: 0;
		transition: opacity 300ms, transform 300ms, width 300ms;
	}

	&:hover::after {
		width: 100%;
		opacity: 1;
	}
}

.modal {
	display: block; 
	position: fixed;
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4); 

	.modal-content {
		background-color: #fefefe;
		margin: 10% auto;
		border: 3px solid black;
		border-radius: 8px;
		max-width: 600px; 
		position: relative;
		animation-name: animatetop;
		animation-duration: 400ms;

		.close {
			position: absolute;
			top: 10px;
			right: 20px;
			color: #aaa;
			font-size: 35px;
			font-weight: bold;
			transition: all 200ms ease;

			&:hover, &:focus {
				color: #c7b9ff;
				text-decoration: none;
				cursor: pointer;
				transform: scale(1.2);
			}
		}

		.status-text {
			display: flex;
			justify-content: center;
			padding: 60px 0px;
		}
	}
}

.table-type {
	font-size: 18px;
	padding-top: 30px;

	.choose-table-type {
		padding-left: 20px;
		display: flex;
		flex-wrap: wrap;
		row-gap: 15px;
		column-gap: 15px;

		.choose-table-type-item {
			padding: 20px 20px;
			border-radius: 10px;
			box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.3);
			cursor: pointer;
			transition: all 200ms ease;

			&:hover {
				background-color: #38588c;
				color: white;
				transform: scale(1.05);
			}
		}

		.active {
			background-color: #587ab1;
			color: white;

			&:hover {
				background-color: #38588c;
				color: white;
			}
		}
	}

	div.buttons-container {
		display: flex;
		justify-content: center;
		gap: 50px;
		margin: 40px 0px;

		button.btn-calculate {
			color: rgb(171, 144, 170);
			padding: 20px 40px;

			&:hover {
				background-color: rgb(167, 178, 167);
				color: white;
			}
		}

		button.btn-send-to-db {
			padding: 20px 40px;
			color: rgb(171, 144, 170);

			&:hover {
				background-color: rgb(167, 178, 167);
				color: white;
			}
		}
	}
}

.graph-device-name {
	max-width: 900px;
	margin: 0 auto;
	font-size: 20px;
	padding-top: 35px;
	font-weight: 600;
}

.graph-type {
	max-width: 850px;
	margin: 0 auto;
	font-size: 18px;
	padding-top: 40px;

	.choose-table-type {
		display: flex;
		flex-wrap: wrap;
		column-gap: 20px;
		row-gap: 30px;

		.choose-table-type-item {
			padding: 20px 20px;
			border-radius: 10px;
			box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.3);
			cursor: pointer;
			transition: all 200ms ease;

			&:hover {
				background-color: #38588c;
				color: white;
				transform: scale(1.05);
			}
		}

		.active {
			background-color: #587ab1;
			color: white;

			&:hover {
				background-color: #38588c;
				color: white;
			}
		}
	}

	.toggle-ref-line {
		margin-top: 40px;
		display: inline-flex;
		padding: 20px 20px;
		border-radius: 10px;
		box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.3);
		cursor: pointer;
		transition: all 200ms ease;

		&:hover {
			background-color: #38588c;
			color: white;
			transform: scale(1.05);
		}
	}
}

.xl-table-container {
	max-width: 1050px;
	margin: 0 auto;
	margin-top: 30px;
	display: grid;
	grid-template-columns: 70px 900px;
	grid-template-rows: auto;

	.xl-table {
		grid-column: 2/3;
		
		box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.3);
		border-right: none;
		border-bottom: none;
		word-break: break-all;

		div.xl-table-header {
			font-weight: 700;
			display: flex;
			background-color: rgb(171, 144, 170);
			color: white;
			top: 0;
			z-index: 999;

			div {
				padding: 0px 20px;
				border-right: 2px solid rgb(167, 178, 167);
				min-height: 60px;
				text-align: center;
				flex: 0 1 250px;
				display: flex;
				justify-content: center;
				align-items: center;

				&:hover {
					cursor: n-resize;
					background-color: #3498db;
				}
			}

			div:nth-child(5n) {
				border: none;
			}
		}

		div.xl-table-row {
			display: flex;

			&:hover {
				cursor: pointer;
				background-color: #e1e4ef;
			}

			div {
				position: relative;
				padding: 0px 20px;
				border-right: 2px solid rgb(167, 178, 167);
				min-height: 60px;
				text-align: center;
				flex: 0 1 250px;
				display: flex;
				justify-content: center;
				align-items: center;

				&:hover {
					color: white;
					background-color: #3498db;
				}

				div.editable-cell {
					position: absolute;
					z-index: 9999;
					cursor: default;
					width: 300px;
					background-color: white;
					border: 2px solid black;
					box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.5);

					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-template-rows: 0.7fr 1fr 1fr;
					column-gap: 20px;

					animation-name: appeare;
					animation-duration: 200ms;

					span {
						display: block;
						grid-column: 1/3;
						padding: 20px 0px;
						color: black;
						font-weight: bold;
					}

					textarea#editable-cell {
						grid-column: 1/3;
						height: 50px;
						padding: 0px 20px;
						padding-top: 13px;
						margin-bottom: 20px;
						resize: none;
						border: 2px solid black;
						outline: none;

						&:hover {
							border-color: #7864ED;
						}

						&:focus {
							border-color: #751692;
						}
					}

					button.btn-close {
						background-color: #38588c;

						&:hover {
							background-color: #587ab1;
						}

						&:active {
							background-color: white;
							color: black;
						}
					}

					button.btn-submit {
						background-color: #3498db;

						&:hover {
							background-color: #5fa7d6;
						}

						&:active {
							background-color: white;
							color: black;
						}
					}
				}
			}

			div:nth-child(5n) {
				border: none;
			}
		}

		div.xl-table-grey-bg {
			background-color: #e1e4ef;
		}
	}


	.collapse-button {
		grid-column: 1/2;
		// justify-self: center;

		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #f2f2f2;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		top: 5px;
		// left: -10%;
		color: rgb(75, 72, 72);
		cursor: pointer;
		font-size: 40px;
		z-index: 1000;
		-webkit-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;

		&:hover {
			background-color: #e0e0e0;
			transform: scale(1.2);
		}

		&:active {
			background-color: #c5c5c5;
		}
	}

}


span.table-name {
	font-size: 1.5em;
	font-weight: 700;
	display: flex;
	justify-content: center;

	animation-name: appeare;
	animation-duration: 500ms;
}

.table-bass {
	animation-name: appeare;
	animation-duration: 500ms;
	max-width: 900px;
	margin: 30px auto;
	box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.3);
	display: grid;
	grid-template-columns: repeat(5, minmax(100px, 1fr));
	grid-template-rows: 50px 50px 50px;

	div {
		display: flex;
		align-items: center;
		justify-content: center;
		border-right: 2px solid rgb(167, 178, 167);
	}

	div:nth-child(5n) {
		border: none;
	}

	div:nth-child(12) {
		&:hover {
			cursor: pointer;
			background-color: #eabdbd;
		}
	}

	div:nth-child(13) {
		&:hover {
			cursor: pointer;
			background-color: rgb(189, 209, 234);
		}
	}

	div:nth-child(14) {
		&:hover {
			cursor: pointer;
			background-color: rgb(234, 223, 189);
		}
	}

	div.table-bass-header-item {
		color: white;
		background-color: rgb(171, 144, 170);
	}
}


#error-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;

	h1 {
		margin-bottom: 50px;
	}

	p {
		margin-bottom: 50px;
	}
}



.panel-form {
	max-width: 900px;
	margin: 20px auto;
	padding: 50px 50px;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.3);
	border: 3px solid black;
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;

	h1 {
		padding-bottom: 50px;
		text-align: center;
		text-decoration: underline;
	}

	#add-feedback-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;

		div {
			width: 70%;

			input {
				width: 100%;
				outline: none;
				height: 50px;
				margin: 0 auto;
				padding-left: 30px;
				border: 2px solid #9E86FF;
				border-radius: 5px;

				&:hover {
					border: 2px solid #751692;
				}

				&:focus {
					border: 2px solid black;
				}
			}

			label {
				display: inline-block;
				padding-bottom: 10px;
			}
		}

		.choose-type {
			select {
				appearance: none;
				background-color: transparent;
				border: none;
				margin: 0;
				width: 100%;
				cursor: inherit;
				line-height: inherit;
				outline: none;
				height: 50px;


				&:focus+.focus {
					position: absolute;
					top: -2px;
					left: -2px;
					right: -2px;
					bottom: -2px;
					border: 2px solid black;
					border-radius: inherit;
					color: black;
				}
			}

			.select {
				width: 100%;
				border: 2px solid #9E86FF;
				border-radius: 5px;
				padding: 0px 30px;
				cursor: pointer;
				background-color: #fff;
				background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
				display: grid;
				grid-template-areas: "select";
				align-items: center;
				position: relative;

				&:hover {
					border-color: #751692;
				}

				&:after {
					justify-self: end;
					content: "";
					width: 0.8em;
					height: 0.5em;
					background-color: black;
					clip-path: polygon(100% 0%, 0 0%, 50% 100%);
				}
			}

			select,
			.select:after {
				grid-area: select;
			}
		}

		.upload-container {
			display: grid;
			grid-template-columns: 1fr;
			gap: 40px;

			div.upload-container-choose-file {
				display: grid;
				grid-template-columns: 200px 1fr;
				grid-template-rows: auto;
				margin-top: 20px;
		
				label {
					display: flex;
					justify-content: center;
					align-items: center;
					column-gap: 10px;
					min-height: 60px;
					background-color: rgb(226, 226, 226);
					color: black;
					padding: 15px 20px;
					border-radius: 10px;
					text-decoration: none;
					// border: 2px solid black;
					font-weight: 700;
					cursor: pointer;
					transition: all 200ms ease;
		
					&:hover {
						transform: scale(1.05);
					}
				}
		
				input#upload-file {
					visibility: hidden;
				}
			}

			.file-list {
	
				li {
					list-style: none;
				}
			}

			div.validation-container {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: 700;
			}

			div.upload-container-btns {
				width: 100%;
				display: flex;
				justify-content: space-evenly;

				button {
					width: 200px;

					&:disabled {
						background-color: dimgrey;
					}
				}
			}
		}
	}
}

.calculations-container {
	max-width: 1450px;
	margin: 30px auto;

	display: grid;
	grid-template-columns: 380px 1fr;
	grid-template-rows: auto;
	gap: 20px;

	.calculations-container-aside {
		padding-left: 20px;
		align-self: start;
		position: sticky;
		top: 50px;

		.calculations-companies {
			border: 2px solid black;
			border-radius: 10px;
			box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.1);
			padding: 20px 20px;
			display: flex;
			flex-wrap: wrap;
			row-gap: 10px;
			
			.calculations-companies-item {
				padding: 10px 10px;
				margin-right: 10px;
				background-color: #e1e4ef;
				color:#751692;
				border-radius: 10px;
				cursor: pointer;
	
				&:hover {
					background-color: black;
					color: white;
				}
			}
	
			.active {
				background-color: black;
				color: white;
			}
		}
	
		.calculations-categories {
			// grid-column: 1/2;
			height: 130px;
			margin-top: 30px;
			border: 2px solid black;
			border-radius: 10px;
			box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.1);
			padding: 20px 20px;
			display: flex;
			flex-wrap: wrap;
			row-gap: 10px;
			
			.calculations-categories-item {
				padding: 10px 10px;
				margin-right: 10px;
				background-color: #e1e4ef;
				color:#751692;
				border-radius: 10px;
				cursor: pointer;
	
				&:hover {
					background-color: black;
					color: white;
				}
			}
	
			.active {
				background-color: black;
				color: white;
			}
		}

		.calculations-devices-names {
			padding-top: 50px;
			
			display: flex;
			flex-wrap: wrap;
			row-gap: 15px;
			column-gap: 15px;
	
			.calculations-devices-names-item {
				padding: 20px 20px;
				border-radius: 10px;
				box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.3);
				cursor: pointer;
				transition: all 200ms ease;
	
				&:hover {
					background-color: #38588c;
					color: white;
					transform: scale(1.05);
				}
			}
	
			.active {
				background-color: #587ab1;
				color: white;
	
				&:hover {
					background-color: #38588c;
					color: white;
				}
			}
	
		}
	}

	.calculations-container-main {
	
		.calculations-table {
			grid-column: 2/3;
			// height: 1000px;
			// border: 2px dashed orange;
		}
	}
}

.compare-container {
	max-width: 1450px;
	margin: 30px auto;

	display: grid;
	grid-template-columns: 400px 1fr;
	grid-template-rows: auto;
	gap: 20px;

	.compare-container-aside {
		padding-left: 20px;
		align-self: start;
		position: sticky;
		top: 50px;

		.compare-ratings {
			margin-bottom: 30px;
			border: 2px solid black;
			border-radius: 10px;
			box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.1);
			padding: 20px 20px;
			display: flex;
			flex-wrap: wrap;
			row-gap: 10px;
			
			.compare-ratings-item {
				padding: 10px 10px;
				margin-right: 10px;
				background-color: #e1e4ef;
				color:#751692;
				border-radius: 10px;
				cursor: pointer;
	
				&:hover {
					background-color: black;
					color: white;
				}
			}
	
			.active {
				background-color: black;
				color: white;
			}
		}

		.compare-companies {
			margin-bottom: 30px;
			border: 2px solid black;
			border-radius: 10px;
			box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.1);
			padding: 20px 20px;
			display: flex;
			flex-wrap: wrap;
			row-gap: 10px;
			
			.compare-companies-item {
				padding: 10px 10px;
				margin-right: 10px;
				background-color: #e1e4ef;
				color:#751692;
				border-radius: 10px;
				cursor: pointer;
	
				&:hover {
					background-color: black;
					color: white;
				}
			}
	
			.active {
				background-color: black;
				color: white;
			}
		}
	
		.compare-categories {
			margin-bottom: 30px;
			height: 130px;

			border: 2px solid black;
			border-radius: 10px;
			box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.1);
			padding: 20px 20px;
			display: flex;
			flex-wrap: wrap;
			row-gap: 10px;
			
			.compare-categories-item {
				padding: 10px 10px;
				margin-right: 10px;
				background-color: #e1e4ef;
				color:#751692;
				border-radius: 10px;
				cursor: pointer;
	
				&:hover {
					background-color: black;
					color: white;
				}
			}
	
			.active {
				background-color: black;
				color: white;
			}
		}
	}

	.compare-graphs-container {
	
		.graph-ratings {
			grid-column: 2/3;
			// height: 1000px;
			// border: 2px dashed orange;
		}
	}
}


.info-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 50px;
	padding: 50px 100px;

	.info-item {
		border-radius: 5px;
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.1);
		min-height: 300px;
		-o-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		display: grid;
		grid-template-rows: 105px 1fr 80px;
		align-items: center;

		.info-item-header {
			font-size: x-large;
			color: white;
			background-color: rgb(171, 144, 170);
			text-align: center;
			padding: 40px 0px;
			border: 2px solid black;
			display: grid;
			align-items: center;

		}

		.info-item-desc {
			font-size: large;
			word-break: break-word;
			padding: 30px 40px;
			padding-bottom: 0px;
			// color:#7864ED;
		}

		.product-item-link {
			display: flex;
			justify-content: space-between;
			// text-align: right;
			padding: 0px 40px;
		}
		
		&:hover {
			// transform: scale(1.02);
			box-shadow: 0 10px 30px 0px rgba(0,0,0,0.2);
		}
	}
}


.graph-ratings {
	padding-top: 20px;
	header {
		display: flex;
		justify-content: center;
		font-size: 1.5em;
		font-weight: 600;
	}
}

.all-devices-container {
	max-width: 1450px;
	margin: 30px auto;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	gap: 20px;
	justify-items: center;

	.all-devices-ratings {
		max-width: 900px;
		margin-bottom: 30px;
		border: 2px solid black;
		border-radius: 10px;
		box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.1);
		padding: 20px 20px;
		display: flex;
		flex-wrap: wrap;
		row-gap: 10px;
		
		.all-devices-ratings-item {
			padding: 10px 10px;
			margin-right: 10px;
			background-color: #e1e4ef;
			color:#751692;
			border-radius: 10px;
			cursor: pointer;

			&:hover {
				background-color: black;
				color: white;
			}
		}

		.active {
			background-color: black;
			color: white;
		}
	}

	.all-devices-companies {
		max-width: 900px;
		margin-bottom: 30px;
		border: 2px solid black;
		border-radius: 10px;
		box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.1);
		padding: 20px 20px;
		display: flex;
		flex-wrap: wrap;
		row-gap: 10px;
		
		.all-devices-companies-item {
			padding: 10px 10px;
			margin-right: 10px;
			background-color: #e1e4ef;
			color:#751692;
			border-radius: 10px;
			cursor: pointer;

			&:hover {
				background-color: black;
				color: white;
			}
		}

		.active {
			background-color: black;
			color: white;
		}
	}

	.all-devices-graph-container {
		justify-self: start;

		.all-devices-graph {
			width: 100%;

			header {
				font-size: 1.5em;
				font-weight: 600;
				display: flex;
				justify-content: center;
				padding-top: 50px;
				padding-bottom: 50px;
			}
		}
	}
}


.compare-bass-container {

	.filter-box {
		max-width: 1100px;
		margin: 0 auto;
		margin-bottom: 30px;
		border: 2px solid black;
		border-radius: 10px;
		box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.1);
		padding: 20px 20px;
		display: flex;
		flex-wrap: wrap;
		row-gap: 10px;
		
		.filter-box-item {
			padding: 10px 10px;
			margin-right: 10px;
			background-color: #e1e4ef;
			color:#751692;
			border-radius: 10px;
			cursor: pointer;

			&:hover {
				background-color: black;
				color: white;
			}
		}

		.active {
			background-color: black;
			color: white;
		}
	}

	.compare-graph-bass-multiple {
		width: 1000px;
		margin: 0 auto;
	
		.compare-graph-bass-multiple-devices-list {
			display: flex;
			flex-wrap: wrap;
			column-gap: 10px;
			align-items: center;
	
			.compare-graph-bass-multiple-devices-list-item {
				display: flex;
				align-items: center;
	
				svg {
					width: 40px;
					height: 30px;
				}
			}
		}
	}
}

.compare-spl-container {

	.filter-box {
		max-width: 1100px;
		margin: 0 auto;
		margin-bottom: 30px;
		border: 2px solid black;
		border-radius: 10px;
		box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.1);
		padding: 20px 20px;
		display: flex;
		flex-wrap: wrap;
		row-gap: 10px;
		
		.filter-box-item {
			padding: 10px 10px;
			margin-right: 10px;
			background-color: #e1e4ef;
			color:#751692;
			border-radius: 10px;
			cursor: pointer;

			&:hover {
				background-color: black;
				color: white;
			}
		}

		.active {
			background-color: black;
			color: white;
		}
	}

	.compare-graph-spl-multiple {
		width: 1000px;
		margin: 0 auto;
	}
}

.compare-thd-container {

	.filter-box {
		max-width: 1100px;
		margin: 0 auto;
		margin-bottom: 30px;
		border: 2px solid black;
		border-radius: 10px;
		box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.1);
		padding: 20px 20px;
		display: flex;
		flex-wrap: wrap;
		row-gap: 10px;
		
		.filter-box-item {
			padding: 10px 10px;
			margin-right: 10px;
			background-color: #e1e4ef;
			color:#751692;
			border-radius: 10px;
			cursor: pointer;

			&:hover {
				background-color: black;
				color: white;
			}
		}

		.active {
			background-color: black;
			color: white;
		}
	}

	.compare-graph-thd-multiple {
		width: 1000px;
		margin: 0 auto;
	}
}

.devices-graph-lines-names {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	align-items: center;

	.devices-graph-lines-names-item {
		display: flex;
		align-items: center;

		svg {
			width: 40px;
			height: 30px;
		}
	}
}



.something-went-wrong {
	display: flex;
	justify-content: center;
	padding-top: 100px;
	font-size: 1.2em;
	font-weight: 600;
}


@-webkit-keyframes appeare {
	from {
		top: 100px;
		opacity: 0
	}

	to {
		top: -60px;
		opacity: 1
	}
}

@keyframes appeare {
	from {
		top: 100px;
		opacity: 0
	}

	to {
		top: -60px;
		opacity: 1
	}
}

@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(70%);
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}

.loading {
	margin: 0 auto;
	margin-top: 50px;
	border: 10px solid #f3f3f3;
	border-top: 10px solid #3498db;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

// @keyframes identifier {
// 	from { h }
// }

//  @-webkit-keyframes appeare {
// 	from {top: 100px; opacity: 0}
// 	to {top: -30px; opacity: 1}
// }

// @keyframes appeare {
// 	from {top: 100px; opacity: 0}
// 	to {top: -30px; opacity: 1}
//  }

@-webkit-keyframes fromleft {
	from {
		left: -1200px;
		opacity: 0
	}

	to {
		left: 0px;
		opacity: 1
	}
}

@keyframes fromleft {
	from {
		left: -1200px;
		opacity: 0
	}

	to {
		left: 0px;
		opacity: 1
	}
}

@-webkit-keyframes fromright {
	from {
		right: -1200px;
		opacity: 0
	}

	to {
		right: 0px;
		opacity: 1
	}
}

@keyframes fromright {
	from {
		right: -1200px;
		opacity: 0
	}

	to {
		right: 0px;
		opacity: 1
	}
}

@-webkit-keyframes appear-to-right {
	from {
		left: 0px;
		opacity: 1
	}

	to {
		left: 1000px;
		opacity: 0
	}
}

@keyframes appear-to-right {
	from {
		left: 0px;
		opacity: 1
	}

	to {
		left: 1000px;
		opacity: 0
	}
}

@-webkit-keyframes appear-to-left {
	from {
		right: 0px;
		opacity: 1
	}

	to {
		right: 1000px;
		opacity: 0
	}
}

@keyframes appear-to-left {
	from {
		right: 0px;
		opacity: 1
	}

	to {
		right: 1000px;
		opacity: 0
	}
}